html {}

body {
  width:100%;
  margin:auto;
}

header {  
  width:100%;
  height:850px;
  text-align: center;
  background: #291ab5;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size:700%;
  display: inline-block;
  margin: 0;
  margin-top: 15%;
  color: white;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 180%;
  margin-top: 0.8%;
    animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
  -o-animation: fadein 5s; /* Opera */
}

.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    letter-spacing: 0.045em;
    margin-top: 3%;
    animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 2;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(255,130,130);
  background-color: white;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 2;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

#bouton-jouer {
  width: 100%;
  float: left;
  text-align: center;
}
